button {
    width: 250px;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
    color: black;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

.click-button {
    background-color: blue;
}

.reset-button {
    background-color: red;
}